@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e2e9ff;
  font-family: "Kode Mono", monospace;
}

.budget__group {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.budget__income,
.budget__expense,
.balance__section {
  width: 30%;
  margin: 10px;
}

.budget__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*IncomeForm and ExpenseForm style*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-container label {
  margin-bottom: 5px;
}

.form-container input {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.button-container input {
  padding: 8px;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
}

.button-container input:hover {
  background-color: #12566f;
}

.expense {
  margin-top: 20px;
}

/* SavingForm styles */
label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 8px;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #12566f;
}

p {
  margin: 10px 0;
}

.progress-container {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #2596be;
}

/* Transfer style */

.TransferToSaving {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TransferToSaving form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TransferToSaving label {
  font-size: 18px;
  margin-bottom: 10px;
}

.TransferToSaving input {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 15px;
}

.TransferToSaving input[type="submit"] {
  padding: 8px;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 110px;
}

.TransferToSaving input[type="submit"]:hover {
  background-color: #12566f;
}
