@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Kode Mono", monospace;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.budget__group {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.budget__income,
.budget__expense,
.balance__section {
  width: 45%;
  margin: 10px;
}

.budget__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* IncomeForm and ExpenseForm style */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 2px #12566f1a;
}


.form-container label {
  margin-bottom: 5px;
}

.form-container input {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 90px;
  padding: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container input {
  padding: 8px;
  font-family: "Kode Mono", monospace;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
}

.button-container input:hover {
  background-color: #12566f;
}

.expense {
  margin-top: 20px;
}

.income-history,
.expense-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.history-item:hover {
  background-color: #12566f15;
}

.history-item p {
  margin: 0;
  flex: 1;
}

.delete-button {
  padding: 3px;
  font-family: "Kode Mono", monospace;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 9px;
}

.delete-button:hover {
  background-color: #12566f;
}

/* SavingForm styles */
label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  font-family: "Kode Mono", monospace;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 90px;
}

button {
  padding: 8px;
  font-family: "Kode Mono", monospace;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #12566f;
}

p {
  margin: 10px 0;
}

.progress-container {
  width: 100%;
  height: 8px;
  background-color: #06293571;
  border-radius: 10px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  background-color: #5eb3d2 !important;
}
/*balance*/
.balance-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-balance {
  flex: 1;
}

.chart-container {
  width: 500px;
  height: 300px;
}


/* Transfer style */

.TransferToSaving {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 2px #12566f1a;
}

.TransferToSaving form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TransferToSaving label {
  font-size: 18px;
  margin-bottom: 10px;
}

.TransferToSaving input {
  padding: 8px;
  font-family: "Kode Mono", monospace;
  margin-bottom: 15px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 90px;
  width: 200px;
}

.TransferToSaving input[type="submit"] {
  padding: 8px;
  font-family: "Kode Mono", monospace;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 170px;
}

.TransferToSaving input[type="submit"]:hover {
  background-color: #12566f;
}

/* HomePage */
body {
  background-image: url('backg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Kode Mono", monospace;
  opacity: 0;
  transform: translateY(30px); 
  animation: popUp 1s ease forwards;
  padding: 90px;
}

.home-container .home-paragraph {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.home-container .budget-app-link {
  opacity: 0;
  animation: fadeIn 1s ease forwards 1s; 
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home-paragraph {
  margin-bottom: 50px;
}

.budget-app-link {
  margin-top: 20px;
  padding: 10px;
  font-family: "Kode Mono", monospace;
  background-color: #2596be;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.budget-app-link:hover {
  background-color: #12566f;
}
